body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Courier New', 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(89deg, #FF5EDF 0%, #04C8DE 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
  overflow: hidden !important;
}

input,button {
  border: 1px solid #96ccff;
  overflow: hidden;
}

input:focus{
  outline: none;
  border: 1px solid #ffa3d7;
}
